<!--<div class="row visible-md-block visible-lg-block">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-sky">
                <span class="widget-caption">Add new event</span>
                <div class="widget-buttons">
                    <button class="btn btn-filter btn-sm btn-success" ng-click="openItemForm();">New Event</button>
                </div>
            </div>
        </div>
    </div>
</div>-->

<div cg-busy="loading" class="tabs-active-bold" active="selectedTabIndex">
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>
                        First name
                    </th>
                    <th>
                        Last name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Phone number
                    </th>
                    <th>
                        Friends
                    </th>
                    <th>
                        Confirmed
                    </th>
                    <th>
                        Register Date
                    </th>
                    <th>
                        Status
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tfoot>
                <tr class="table-row">
                    <td colspan="9" class="text-center">
                        <p class="pull-left">
                            Total <span ng-bind="list.length"></span> events
                        </p>
                    </td>
                </tr>
                </tfoot>
                <tbody>
                <tr ng-if="list.length === 0">
                    <td colspan="9" class="text-center">
                        No results match your search criteria
                    </td>
                </tr>
                <tr
                        class="table-row"
                        ng-repeat="item in list"
                        style="cursor: pointer"
                >
                    <td>
                        <strong class="visible-xs-inline-block col-xs-4 text-right">First name</strong>
                        <span class="mobile-only-col-xs-8">
                            <span ng-bind="item.first_name"></span>
                        </span>
                    </td>
                    <td>
                        <strong class="visible-xs-inline-block col-xs-4 text-right">Last name</strong>
                        <span class="mobile-only-col-xs-8">
                            <span ng-bind="item.last_name"></span>
                        </span>
                    </td>
                    <td>
                        <strong class="visible-xs-inline-block col-xs-4 text-right">Email</strong>
                        <span class="mobile-only-col-xs-8">
                            <span ng-bind="item.email"></span>
                        </span>
                    </td>
                    <td>
                        <strong class="visible-xs-inline-block col-xs-4 text-right">Phone number</strong>
                        <span class="mobile-only-col-xs-8">
                            <span
                                    ng-bind="item.country_code + item.phone_number"
                            ></span>
                        </span>
                    </td>
                    <td>
                        <strong class="visible-xs-inline-block col-xs-4 text-right">Friends</strong>
                        <span class="mobile-only-col-xs-8">
                            <span ng-bind="item.friends.length"></span>
                        </span>
                    </td>
                    <td>
                        <strong class="visible-xs-inline-block col-xs-4 text-right">Confirmed</strong>
                        <span class="mobile-only-col-xs-8">
                            <span ng-if="item.is_confirmed"> Yes </span>
                            <span ng-if="!item.is_confirmed"> No </span>
                        </span>
                    </td>
                    <td>
                        <strong class="visible-xs-inline-block col-xs-4 text-right">Register Date</strong>
                        <span class="mobile-only-col-xs-8">
                            <span
                                    ng-bind="item.created_date | date:'longDate'"
                            ></span>
                        </span>
                    </td>
                    <td>
                        <strong class="visible-xs-inline-block col-xs-4 text-right">Status</strong>
                        <span class="mobile-only-col-xs-8">
                            <span ng-if="item.is_active"> Active </span>
                            <span ng-if="!item.is_active"> Not Active </span>
                        </span>
                    </td>
                    <td>
                        <button
                                type="button"
                                class="btn btn-sm btn-filter"
                                ng-click="openItemForm(item)"
                        >
                            <i class="fa fa-eye"></i>
                        </button>
                    </td>
                    <td class="visible-xs-block text-center">
                        <button
                                ng-click="openItemForm(item)"
                                class="btn btn-sm btn-filter"
                        >
                            <i class="fa fa-eye"></i>
                            Open
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
