<!DOCTYPE html>
<html ng-app="orca.imok">

<!-- Head -->
<head>
    <meta charset="utf-8">

    <title>I'm OK</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="content/img/favicon.png" type="image/x-icon">

    <base href="/">
    <!-- bower:css -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
</head>

<body ng-controller="AppCtrl" cg-busy="loadingBase">

<div>
    <!-- Loading Container -->
    <div class="loading-container">
        <div ng-show="!isViewLoading"></div>
        <div class="loading" ng-show="isViewLoading" style="text-align: center;">
            <div class="load-3">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
    </div>
    <!--  /Loading Container -->

    <!-- Navbar -->
    <div
            class="navbar navbar-fixed-top ng-hide"
            ng-include="'layout/navbar.html'"
            ng-show="adminId !== null"
    ></div>
    <!-- /Navbar -->

    <div class="main-container container-fluid">
        <!-- Page Container -->
        <div class="page-container">
            <!-- Page Sidebar -->
            <div
                    class="page-sidebar ng-hide"
                    id="sidebar"
                    ng-include="'layout/sidebar.html'"
                    cg-busy="loadingUser"
                    ng-show="adminId"
            ></div>
            <!-- /Page Sidebar -->
            <!-- Chat Bar -->
            <div id="chatbar" class="page-chatbar"></div>
            <!-- /Chat Bar -->
            <!-- Page Content -->
            <div class="page-content" ng-style="{
                        'margin-left': (adminId ? '' : '0')
                    }">
                <!-- Page Breadcrumb -->
                <div
                        class="page-breadcrumbs ng-hide {{settings.fixed.breadcrumbs ? '' : ''}}"
                        ng-include="'layout/breadcrumbs.html'"
                        ng-show="adminId"
                ></div>
                <!-- /Page Breadcrumb -->
                <!-- Page Header -->
                <div
                        class="page-header position-relative ng-hide @{{settings.fixed.header ? 'page-header-fixed' : ''}}"
                        ng-include="'layout/header.html'"
                        ng-show="adminId"
                ></div>
                <!-- /Page Header -->
                <!-- Page Body -->
                <div class="page-body" cg-busy="loadingText" ng-view>
                    <!-- Your Content Goes Here -->
                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
        </div>
        <!-- /Page Container -->
        <!-- Main Container -->

    </div>
</div>

<toaster-container toaster-options="{'time-out': 10000}"></toaster-container>

<!-- bower:js -->
<!-- endinject -->
<!-- inject:js -->
<!-- endinject -->

</body>
</html>