<ul class="breadcrumb" ng-hide="currentUrl === '/home'">
    <li
            ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path"
            ng-class="{active: $last}"
            ng-switch="$last || !!step.abstract"
    >
        <a
                ng-switch-when="false"
                ng-href="{{ breadcrumb.path.substr(1) ? breadcrumb.path.substr(1) : 'home' }}"
                ng-bind="breadcrumb.label"></a>
        <span
                ng-switch-when="true"
                ng-bind="breadcrumb.label"
        ></span>
    </li>
</ul>