<div class="header-title" lang="en">
    <h1>{{ heading.name }} <small ng-if="heading.total">({{ heading.total }})</small></h1>
</div>
<div class="header-buttons">
    <a href="" class="sidebar-toggler"></a>
    <!--<a href="" class="fullscreen"></a>-->
</div>