<div class="navbar-inner">
    <div class="navbar-container">
        <!-- Navbar Barnd -->
        <div class="navbar-header logo" style="padding-left: 55px;">
            <a href="/events" class="navbar-brand">
                <small>
                    I'm OK
                </small>
            </a>
        </div>
        <!-- /Navbar Barnd -->
        <!-- Sidebar Collapse -->
        <div class="sidebar-collapse"></div>
        <!-- /Sidebar Collapse -->
        <!-- Account Area and Settings -->
        <div class="navbar-header">
            <div class="navbar-account">
                <ul class="account-area">
                    <li>
                        <a class="login-area dropdown-toggle no-padding" data-toggle="dropdown">
                            <section>
                                <span class="h5 profile no-padding no-margin"><span ng-bind="$parent.user.customer.name"></span></span>
                                <div>
                                    <span class="h6 no-padding no-margin" ng-bind="$parent.user.name"></span>
                                </div>
                            </section>
                            <div class="avatar" style="margin: 0;height: 24px;border: none;">
                                <i class="icon fa fa-sort-down" style="line-height: 24px;"></i>
                            </div>
                        </a>
                        <!--Login Area Dropdown-->
                        <ul class="pull-right dropdown-menu dropdown-arrow dropdown-login-area">
                            <li class="username"><a ng-bind="$parent.user.customer.name"></a></li>
                            <li class="edit">
                                <a ng-click="logout()"
                                   dg-confirm="Are you sure?"
                                   class="pull-right"
                                >
                                    <i class="menu-icon fa fa-sign-out"></i>
                                    Logout
                                </a>
                            </li>

                        </ul>
                        <!--/Login Area Dropdown-->
                    </li>
                </ul>

                <!-- Settings -->
            </div>
        </div>
        <!-- /Account Area and Settings -->
    </div>
</div>