<!-- Sidebar Menu -->
<nav role="navigation">
    <ul class="nav sidebar-menu">
        <!--Dashboard-->
        <li ng-class="{active: currentUrl === '/events'}">
            <a class="menu-dropdown" href="/events">
                <i class="menu-icon fa fa-calendar"></i>
                <span class="menu-text"> Events </span>
            </a>
        </li>
        <li ng-class="{active: currentUrl === '/users'}">
            <a class="menu-dropdown" href="/users   ">
                <i class="menu-icon fa fa-user"></i>
                <span class="menu-text"> Users </span>
            </a>
        </li>
        <li ng-hide="screenWidth == 'xs'" ng-class="{active: currentUrl === '/admins'}">
            <a href="admins">
                <i class="menu-icon fa fa-tags"></i>
                <span class="menu-text"> Admins </span>
            </a>
        </li>
        <li>
            <a class="menu-dropdown" ng-click="logout()" dg-confirm="Are you sure?">
                <i class="menu-icon fa fa-sign-out"></i>
                <span class="menu-text"> Logout </span>
            </a>
        </li>
    </ul>
</nav>
<!-- /Sidebar Menu -->

<script>
</script>