<form class="form-horizontal" role="form" ng-submit="setEvent()" cg-busy="loading" name="discountForm">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button>
        <h3 class="modal-title">
            <span ng-if="!cleanData.id"> New Event </span>
            <span ng-if="cleanData.id"> Update Event </span>
        </h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 mb-10">
                <label
                        for="event_description"
                        class="input-sm text-bold sr-only mb-0"
                >
                    Description
                </label>
                <dg-form-textarea
                        dg-id="event_description"
                        dg-name="event_description"
                        maxlength="300"
                        ng-required
                        ng-model="dirtyData.description"
                ></dg-form-textarea>
                <p class="help-block mt-0 mb-0">{{ 300 - dirtyData.description.length }} character </p>
            </div>

            <div class="col-md-12 mb-10">
                <label
                        for="event_country"
                        class="input-sm text-bold sr-only mb-0"
                >
                    Country
                </label>
                <dg-form-select2
                        ng-model="dirtyData.countryId"
                        options="getCountries()"
                        placeholder="Country"
                        allow-clear="false"
                ></dg-form-select2>
            </div>

            <div
                    map-lazy-load="https://maps.google.com/maps/api/js?key={{mapKey}}"
                    class="col-md-12 mb-10"
            >
                <ng-map
                        zoom="5"
                        center="{{dirtyData.location}}"
                        zoom-control="true"
                        on-click="setMarkerPosition(event)"
                >
                    <marker
                            position="{{dirtyData.location}}"
                            title="drag me"
                            draggable="true"
                            on-dragend="setMarkerPosition(event)"
                    ></marker>
                </ng-map>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()" >Close</button>
        <button type="submit" class="btn btn-primary" >Save</button>
    </div>
</form>