<div class="row visible-md-block visible-lg-block">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-sky">
                <span class="widget-caption">Add new event</span>
                <div class="widget-buttons">
                    <button class="btn btn-filter btn-sm btn-success" ng-click="openItemForm();">New Event</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div cg-busy="loading" class="tabs-active-bold" active="selectedTabIndex">
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>
                        Description
                    </th>
                    <th>
                        Published
                    </th>
                    <th>
                        Published Date
                    </th>
                    <th>
                        Added Date
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Source
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tfoot>
                <tr class="table-row">
                    <td colspan="7" class="text-center">
                        <p class="pull-left">
                            Total <span ng-bind="list.length"></span> events
                        </p>
                    </td>
                </tr>
                </tfoot>
                <tbody>
                <tr ng-if="list.length === 0">
                    <td colspan="7" class="text-center">
                        No results match your search criteria
                    </td>
                </tr>
                <tr
                        class="table-row"
                        ng-repeat="item in list"
                        style="cursor: pointer"
                >
                    <td>
                        <strong class="visible-xs-inline-block col-xs-4 text-right">Description</strong>
                        <span class="mobile-only-col-xs-8">
                            <span ng-bind="item.description"></span>
                        </span>
                    </td>
                    <td>
                        <strong class="visible-xs-inline-block col-xs-4 text-right">Published</strong>
                        <span class="mobile-only-col-xs-8">
                            <span ng-if="item.is_published"> Yes </span>
                            <span ng-if="!item.is_published"> No </span>
                        </span>
                    </td>
                    <td>
                        <strong class="visible-xs-inline-block col-xs-4 text-right">Published Date</strong>
                        <span class="mobile-only-col-xs-8">
                            <span ng-if="item.publish_date" ng-bind="item.publish_date | date:'longDate'"></span>
                            <span ng-if="!item.publish_date">Not published yet</span>
                        </span>
                    </td>
                    <td>
                        <strong class="visible-xs-inline-block col-xs-4 text-right">Added Date</strong>
                        <span class="mobile-only-col-xs-8">
                            <span
                                    ng-bind="item.created_date | date:'longDate'"
                            ></span>
                        </span>
                    </td>
                    <td>
                        <strong class="visible-xs-inline-block col-xs-4 text-right">Status</strong>
                        <span class="mobile-only-col-xs-8">
                            <span ng-if="item.is_active"> Yes </span>
                            <span ng-if="!item.is_active"> No </span>
                        </span>
                    </td>
                    <td>
                        <strong class="visible-xs-inline-block col-xs-4 text-right">Source</strong>
                        <span class="mobile-only-col-xs-8">
                            <span ng-if="item.source == 'sys'">System</span>
                            <span ng-if="item.source == 'usr'">User</span>
                        </span>
                    </td>
                    <td>
                        <button
                                type="button"
                                class="btn btn-sm btn-danger"
                                ng-if="!item.is_published"
                                dg-confirm="Are you sure ?"
                                ng-click="publishEvent(item)"
                        >
                            <i class="fa fa-fire"></i>
                        </button>

                        <button
                                type="button"
                                class="btn btn-sm btn-filter"
                                ng-click="openItemForm(item)"
                        >
                            <i class="fa fa-eye"></i>
                        </button>
                    </td>
                    <td class="visible-xs-block text-center">
                        <button
                                ng-click="openItemForm(item)"
                                class="btn btn-sm btn-filter"
                        >
                            <i class="fa fa-eye"></i>
                            Open
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
