<form class="form-horizontal" role="form" ng-submit="setAdminInfo()" cg-busy="loading" name="discountForm">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button>
        <h3 class="modal-title">
            <span ng-if="!cleanData.id"> New Admin </span>
            <span ng-if="cleanData.id"> Update Admin </span>
        </h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 mb-10">
                <label
                        for="admin_firstName"
                        class="input-sm text-bold sr-only mb-0"
                >
                    First Name
                </label>
                <dg-form-text
                        dg-id="admin_firstName"
                        dg-name="admin_firstName"
                        ng-required
                        ng-model="dirtyData.first_name"
                        placeholder="First Name"
                ></dg-form-text>
            </div>
            <div class="col-md-12 mb-10">
                <label
                        for="admin_lastName"
                        class="input-sm text-bold sr-only mb-0"
                >
                    Last Name
                </label>
                <dg-form-text
                        dg-id="admin_lastName"
                        dg-name="admin_lastName"
                        ng-required
                        ng-model="dirtyData.last_name"
                        placeholder="Last Name"
                ></dg-form-text>
            </div>
            <div class="col-md-12 mb-10">
                <label
                        for="admin_email"
                        class="input-sm text-bold sr-only mb-0"
                >
                    Email Address
                </label>
                <dg-form-text
                        dg-id="admin_email"
                        dg-name="admin_email"
                        ng-required
                        ng-model="dirtyData.email"
                        placeholder="Email Address"
                        type="email"
                ></dg-form-text>
            </div>
            <div class="col-md-12 mb-10">
                <label
                        for="admin_password"
                        class="input-sm text-bold sr-only mb-0"
                >
                    Password
                </label>
                <dg-form-text
                        dg-id="admin_password"
                        dg-name="admin_password"
                        ng-required
                        ng-model="dirtyData.password"
                        placeholder="Password"
                        type="password"
                ></dg-form-text>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()" >Close</button>
        <button type="submit" class="btn btn-primary" >Save</button>
    </div>
</form>