
<div class="login-container animated fadeInDown" cg-busy="loading">

    <a href="javascript:void(0);" class="login-logo"></a>

    <div class="loginbox bg-white">
        <form ng-submit="login()">
            <div class="loginbox-title">Admin login</div>
            <div class="loginbox-or">
                <div class="or-line"></div>
            </div>
            <div class="loginbox-textbox">
                <input
                        type="text"
                        class="form-control"
                        id="email"
                        placeholder="Username"
                        ng-model="email"
                        autofill
                        required
                        autofocus
                >
            </div>
            <div class="loginbox-textbox">
                <input
                        type="password"
                        class="form-control"
                        id="password"
                        placeholder="Password"
                        ng-model="password"
                        autofill
                        required
                >
            </div>
            <div class="loginbox-submit">
                <input
                        type="submit"
                        class="btn btn-primary btn-block"
                        value="Login"
                >
            </div>
        </form>
    </div>

</div>

<style type="text/css">
    .loading-container{
        display: none;
    }
</style>